@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
body {
    background-image:url(../images/island.png);
    background-repeat:no-repeat;
    background-color: #36979d;
    background-position: 50% 0%;
    margin-top: 20px;

}
h1{
    font-family: 'Bangers', cursive;
    font-size: 80px;
    color: rgb(255, 254, 248);
    text-align: center;
    text-shadow: rgb(30, 30, 30);
    margin-top: 70px;
}
h2{
    font-family: 'Courier Prime', monospace;
    color: rgb(252, 247, 247);
    font-size: 26px;
    background-color: rgba(8, 59, 113, 0.6);
    padding: 25px;

}
h3{
    font-family: 'Courier Prime', monospace;
    color: rgb(252, 247, 247);
    font-size: 16px;
    background-color: rgba(8, 59, 113, 0.6);
    padding: 20px;

}
p{
    font-family: 'Courier Prime', monospace;
    color: rgb(252, 247, 247);
    font-size: 24px;
    background-color: rgba(8, 59, 113, 0.6);
    padding: 20px;
    margin: 20px;
}
#main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.element-images {
    align-items: center;
}

.typing {
    margin: 25px;
}

#select-monster{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
  }
  
    

#div-images-monsters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
  }
  

#jorney {
    margin-left: 120px;
}
#pick-attack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

#board {
    display: flex;
    background-color: aliceblue;
    opacity: .7;
    width: 1000px;
    border:10px solid white;
    margin: 0px 20px 20px 20px;
  
}
.cell {
    display: flex;
    align-content: center;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 150px;
    font-family: 'Courier Prime', monospace;
	height: 150px;
    background-color: rgb(12, 11, 11);
    opacity: .9;
    border: 5px solid #36979d;
}
#board-text {
    display: flex;
    background-color: aliceblue;
    text-align: center;
    opacity: .7;
    width: 1000px;
    border:10px solid white;
}
.cell2 {
    font-size: 20px;
    text-align: center;
    color: rgb(11, 11, 11);
    width: 100px;
    font-family: 'Courier Prime', monospace;
	height: 30px;
    opacity: .9;
    }
.player-monster-text {
    font-size: 50px;
}
.enemy-monster-text {
    font-size: 50px;
    text-align:right;
}

#player-monster-image {
    margin-top: 30px;
}
#enemy-monster-image {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1); /* Firefox */
    -webkit-transform: scaleX(-1); /* Chrome - Safari */
    -o-transform: scaleX(-1);
    margin-top:30px;
}

#combat-result {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
  }
  #player-combat{
    margin: 30px;
    text-align: center;
  }
  #attack-player-picked{
    font-size: 35px;
  }
  #attack-enemy-picked{
    font-size: 35px;

  }

  #enemy-combat{
    text-align: center;
    margin: 30px;
  }
  #round-result{
    text-align: center;
    margin: 50px;
  }
  #result {
    text-align: center;
    margin: 30px;
    font-size: 40px;
  }

button{
-webkit-border-radius: 28;
-moz-border-radius: 28;
border-radius: 28px;
text-shadow: 3px 2px 1px #b0b8d8;
-webkit-box-shadow: 6px 5px 24px #666666;
-moz-box-shadow: 6px 5px 24px #666666;
box-shadow: 6px 5px 24px #666666;
font-family: Arial;
  color: #161515;
  font-size: 22px;
  padding: 15px;
  text-decoration: none;
  margin: 12px 25px;
}
.elements-attack{
    margin-top: 20px;
}
