body {
    background-image:url(../images/island.png);
    background-repeat:no-repeat;
    background-color: #36979d;
    background-position: 50% 0%;

}

#pick-attack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

#board {
    display: flex;
    background-color: aliceblue;
    width: 800px;
    border:10px solid white;
  
}
.cell {
    width: 70px;
	height: 90px;
    background-color: red;
    border: 5px solid #36979d;;
}
#enemy-monster-image {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1); /* Firefox */
    -webkit-transform: scaleX(-1); /* Chrome - Safari */
    -o-transform: scaleX(-1);
}

#combat-result {
    display: flex;
    width: 500px;
    height: 500px;
}



